.exc-button-1-on{
    background-color: green;
    font-size: 15px;
    border:none;
    color:white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
}

.exc-button-1-off{
    background-color: red;
    font-size: 15px;
    border:none;
    color:white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
}